<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lcw.lcw2_back.mapper.StockMapper">

    <select id="listAll" resultType="lcw.lcw2_back.domain.stock.StockVO"  parameterType="lcw.lcw2_back.dto.stock.page.PageStockRequestDTO">
        select s.storage_id, s.product_id, p.product_name, s.stock_quantity, st.storage_name
        from stock s
        JOIN storage st ON s.storage_id = st.storage_id
        JOIN product p ON s.product_id = p.product_id
        <where>
            <if test="productName != null and productName != ''">
                p.product_name like concat('%', #{productName}, '%')
            </if>
            <if test="storageName != null and storageName != ''">
                <if test="productName != null and productName != ''">
                    and
                </if>
                st.storage_name like concat('%', #{storageName}, '%')
            </if>
        </where>
        order by st.storage_name desc limit #{skip}, #{size}
    </select>

    <select id="getCount" resultType="Integer">
        select count(*) from stock
    </select>

    <update id="modifyQuantity" parameterType="lcw.lcw2_back.domain.stock.StockVO" >
        update stock set stock_quantity=#{quantity} where storage_id=#{stockVO.storageId} and product_id=#{stockVO.productId}
    </update>

    <select id="findStockById" resultType="lcw.lcw2_back.domain.stock.StockVO">
        select * from stock where storage_id=#{storageId} and product_id = #{productId}
    </select>

    <select id="getStorageName" resultType="lcw.lcw2_back.domain.storage.Storage">
        select storage_name from storage
    </select>

    <select id="getProductName" resultMap="ListVOMap">
        select product_name from product
    </select>

<!--    ListVo 재활용해서 productName 받아오기-->
    <resultMap id="ListVOMap" type="lcw.lcw2_back.domain.ListVO">
        <result property="content" column="product_name"/>
    </resultMap>




</mapper>