<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lcw.lcw2_back.mapper.WaybillMapper">

    <select id="listAll" resultType="lcw.lcw2_back.domain.waybill.WaybillVO" parameterType="lcw.lcw2_back.dto.waybill.page.PageWaybillRequestDTO">
        SELECT
        w.waybill_id,
        w.outbound_id,
        w.inbound_id,
        w.created_date,
        w.depart_address,
        w.arrive_address,
        w.depart_address_detail,
        w.depart_zipcode,
        w.arrive_zipcode,
        w.depart_storage_name,
        w.arrive_storage_name

        FROM waybill w
        LEFT JOIN outbound o ON w.outbound_id = o.outbound_id
        LEFT JOIN inbound i ON w.inbound_id = i.inbound_id

        <where>
            <if test="departStorageName != null and departStorageName != ''">
                w.depart_storage_name like concat('%', #{departStorageName}, '%')
            </if>
            <if test="arriveStorageName != null and arriveStorageName != ''">
                and w.arrive_storage_name like concat('%', #{arriveStorageName}, '%')
            </if>
            <if test="waybillId != null and waybillId != ''">
                and w.waybill_id = #{waybillId}
            </if>

            <if test="startDate != null and endDate != null">
                AND DATE(o.request_date) BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        ORDER BY w.waybill_id DESC LIMIT #{skip}, #{size}
    </select>


    <update id="modifyWaybill" parameterType="lcw.lcw2_back.dto.waybill.page.PageWaybillRequestDTO">
        UPDATE waybill
        <set>
            <if test="dto.departAddress != null and dto.departAddress != ''">
                depart_address = #{dto.departAddress},
            </if>
            <if test="dto.departAddressDetail != null and dto.departAddressDetail != ''">
                depart_address_detail = #{dto.departAddressDetail},
            </if>
            <if test="dto.departZipcode != null and dto.departZipcode != ''">
                depart_zipcode = #{dto.departZipcode},
            </if>
            <if test="dto.arriveAddress != null and dto.arriveAddress != ''">
                arrive_address = #{dto.arriveAddress},
            </if>
            <if test="dto.arriveAddressDetail != null and dto.arriveAddressDetail != ''">
                arrive_address_detail = #{dto.arriveAddressDetail},
            </if>
            <if test="dto.arriveZipcode != null and dto.arriveZipcode != ''">
                arrive_zipcode = #{dto.arriveZipcode},
            </if>
        </set>
        WHERE waybill_id = #{dto.waybillId}
    </update>

    <select id="getCount" resultType="Integer">
        select count(*) from waybill;
    </select>

    <select id="getItemsByOutboundId" resultType="lcw.lcw2_back.domain.outbound.OutboundItem">
        select * from outbound_item where outbound_id=#{outboundId}
    </select>

    <select id="getItemsByInboundId" resultType="lcw.lcw2_back.domain.inbound.InboundItem">
        select * from inbound_item where inbound_id=#{inboundId}
    </select>

    <select id="getStorageName" resultType="lcw.lcw2_back.domain.storage.Storage">
        select storage_name from storage
    </select>



</mapper>